[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Orkidea StockControl
Name[pt_BR]=Controle de Estoque Orkidea
Comment=Web system for stock control
Comment[pt_BR]=Sistema web para controle de estoque
Exec=orkidea-stockcontrol %u
Icon=orkidea-stockcontrol
Categories=Network;

